
<IfModule mod_rewrite.c>

    RewriteEngine on
    ErrorDocument 404 http://localhost:8080/app-server-Pedidos-mvc/error/
    
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    RewriteRule ^(.*)/(.*) dashboard.php?controller=$1&action=$2
    


</IfModule>